/* Fonts */

/* space-mono-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/space-mono-v14-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lexend-deca-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/lexend-deca-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Variables */

:root {
    --clr-primary-400: hsla(40, 97%, 58%, 1);
    --clr-primary-200: hsla(39, 100%, 94%);
    --clr-secondary-transparency: hsla(223, 31%, 27%, .75);
    --clr-neutral-transparency: hsla(215, 17%, 17%, .5);
    --clr-neutral-900: hsla(215, 14%, 23%, 1);
    --clr-neutral-800: hsla(216, 17%, 35%, 1);
    --clr-neutral-600: hsla(217, 12%, 62%, 1);
    --clr-neutral-600-transparency: hsla(217, 12%, 62%, .1);
    --clr-neutral-400: hsla(212, 41%, 93%, 1);
    --clr-neutral-200: hsla(214, 37%, 96%, 1);

    --ff-title: 'Space Mono', sans-serif;
    --ff-body: 'Lexend Deca', sans-serif;

    --h1-fs: clamp(4rem, 3.5714vw + 2.8571rem, 5.6rem);
    --h1-lh: clamp(4rem, 3.5714vw + 2.8571rem, 5.6rem);
    --h1-spacing: clamp(-.179rem, -.074vw + -.1553rem, -.25rem);
    --h2-fs: clamp(3.2rem, 1.6667vw + 2.6667rem, 4.8rem);
    --h2-lh: clamp(3.2rem, 1.6667vw + 2.6667rem, 4.8rem);
    --h2-spacing: clamp(-.143rem, -.074vw + -.1193rem, -.214rem);
    --h3-fs: clamp(2.4rem, 1.6667vw + 1.8667rem, 4rem);
    --h3-lh: clamp(2.8rem, 2.0833vw + 2.1333rem, 4.8rem);
    --h3-spacing: clamp(-.107rem, -.075vw + -.083rem, -.179rem);
    --h4-fs: 2rem;
    --h4-lh: 2.4rem;
    --h4-spacing: -.089rem;
    --nav-fs: clamp(1.8rem, -.3125vw + 1.9rem, 1.5rem);
    --body-fs: 1.5rem;
    --body-lh: 2.5rem;

    --spacing-x: clamp(3.2rem, 13.8542vw + -1.2333rem, 16.5rem);
    --spacing-y: clamp(12rem, 4.1667vw + 10.6667rem, 16rem);
    --spacing-y-secondary: clamp(7.2rem, 5vw + 5.6rem, 12rem);
}

/* General styles */

body {
    background-color: var(--clr-neutral-200);
    font-family: var(--ff-body);
    font-size: var(--body-fs);
    line-height: var(--body-lh);
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff-title);
}

main {
    position: relative;
    padding-block-start: 6.4rem;
}

main section:not(.hero, .map-container) {
    padding-inline: var(--spacing-x);
    color: var(--clr-neutral-600);
}

.overlay {
    width: 100vw;
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.overlay.active {
    background-color: var(--clr-neutral-transparency);
    z-index: 50;
    opacity: 1;
    transition: all .5s ease-in-out;
}

*:focus {
    outline: none;
}

a[class]:not(.btn, .location-tag) {
    text-decoration: none;
    color: inherit;
    transition: all .3s ease-in-out;
}

a[class]:not(.btn, .app-provider_link, .location-tag):hover, a[class]:not(.btn, .app-provider_link, .location-tag):focus, a[class]:not(.btn, .app-provider_link, .location-tag):active {
    color: var(--clr-primary-400);
}

.btn {
    text-decoration: none;
    min-width: 18rem;
    max-width: 100%;
    height: 5.3rem;
    padding-block: 1.4rem;
    padding-inline: 4rem;
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-200);
    border: 1px transparent solid;
    transition: all .3s ease-in-out;
    font-family: var(--ff-title);
}

.btn:hover, .btn:focus, .btn:active {
    background-color: transparent;
    border: 1px var(--clr-primary-400) solid;
    color: var(--clr-primary-400);
}

.fixed-body {
    overflow-y: hidden;
}

.hidden {
    display: none;
}

.displayed {
    display: block;
}

.faq-content article:has(button:focus), .faq-content article:has(button:hover) {
    background-color: var(--clr-primary-200);
}

.hero {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.secondary-hero {
    background-image: url(../assets/img/secondary-hero.png);
    height: clamp(16rem, 8.9286vw + 13.1429rem, 20rem);
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.secondary-hero h1 {
    color: var(--clr-neutral-200);
    font-size: var(--h1-fs);
    line-height: var(--h1-lh);
    letter-spacing: var(--h1-spacing);
    z-index: 1;
}

.hero-overlay {
    background-color: var(--clr-secondary-transparency);
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
}

.secondary-hero-overlay {
    height: clamp(16rem, 8.9286vw + 13.1429rem, 20rem);
}

/*** Tablet ***/

@media only screen and (min-width: 48em) {
    main {
        padding-block-start: 9.6rem;
    }
    .secondary-hero::after {
        content: '';
        position: absolute;
        right: -4.8rem;
        bottom: 50%;
        transform: translateY(50%);
        background-image: url(../assets/img/hero-circles.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 23.4rem;
        height: 6.3rem;
        z-index: 1;
    }
}

/*** Desktop ***/

@media only screen and (min-width: 80em) {
    .secondary-hero {
        align-items: start;
   } 
   .secondary-hero h1 {
        padding-inline-start: var(--spacing-x);
   }
}

/** Header **/

header {
    height: 6.4rem;
    width: 100vw;
    background-color: var(--clr-neutral-200);
    position: fixed;
    z-index: 90;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:rgb(47, 59, 89) 0rem -2.6rem 4rem;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo svg {
    width: 7.6rem;
    height: 2rem;
}

.header-logo svg path {
    transition: all .3s ease-in-out;
}

.header-logo:hover svg path, .header-logo:focus svg path, .header-logo:active svg path {
    fill: var(--clr-primary-400);
}

.main-nav {
    position: absolute;
    height: calc(100vh - 6.4rem);
    top: 6.4rem;
    left: 0;
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-200);
    width: 25.6rem;
    font-family: var(--ff-title);
    padding-block: 6.4rem 2.4rem;
    padding-inline: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(-25.6rem);
    transition: .5s ease-in-out;
}

.nav-slide {
    transform: translateX(0);
}

.main-nav_list {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.main-nav_link {
    font-size: var(--nav-fs);
}

/*** Burger menu ***/

.menu-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 2.4rem;
    left: 3.2rem;
    z-index: 99;
    width: 2.4rem;
    height: 2rem;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
}

.menu-btn span {
    background-color: var(--clr-primary-400);
    width: 100%;
    height: .4rem;
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    position: absolute;
    left: 0;
}

.menu-btn span:first-child {
    top: 0;
}

.menu-btn span:nth-child(2), .menu-btn span:nth-child(3) {
    top: .8rem;
}

.menu-btn span:last-child {
    top: 1.6rem;
}

.menu-btn.open span:first-child, .menu-btn.open span:last-child {
    top: .8rem;
    width: 0%;
    left: 50%;
}

.menu-btn.open span:nth-child(2) {
    transform: rotate(45deg);
}

.menu-btn.open span:nth-child(3) {
    transform: rotate(-45deg);
}

/*** Tablet ***/

@media only screen and (min-width: 48em) {
    header {
        padding-inline: clamp(4rem, 24.4141vw + -14.75rem, 16.5rem);
        padding-block: 2rem;
        height: fit-content;
        gap: 5.6rem;
    }
    
    .menu-btn {
        display: none;
    }
    
    .main-nav {
        position: static;
        height: fit-content;
        background-color: transparent;
        flex-direction: row;
        padding: 0;
        color: var(--clr-neutral-600);
        width: 100%;
        transform: translateX(0);
    }
    
    .main-nav_list {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

/*** Desktop ***/

/** Footer **/

footer {
    position: relative;
}

.sign-up {
    background-color: var(--clr-neutral-800);
    color: var(--clr-neutral-200);
    padding-block: 8.8rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-inline: var(--spacing-x);
    position: relative;
    overflow: hidden;
}

.sign-up::before{
    content: '';
    position: absolute;
    width: 115.3rem;
    height: 34.7rem;
    background-image: url(../assets/img/footer-circles.svg);
    background-repeat: no-repeat;
    z-index: 0;
    right: clamp(-19.6rem, 1.7708vw + -20.1667rem, -17.9rem);
    bottom: -50%;
}

.sign-up h3 {
    font-size: var(--h2-fs);
    line-height: var(--h2-lh);
    letter-spacing: var(--h2-spacing);
    text-align: center;
}

.app-provider-container {
    display: flex;
    gap: 1.2rem;
    position: relative;
    z-index: 5;
    justify-content: center;
}

.app-provider {
    padding-block: .6rem;
    padding-inline: .6rem;
    background-color: var(--clr-neutral-400);
    color: var(--clr-neutral-800);
    display: flex;
    align-items: center;
    gap: .8rem;
    font-family: var(--ff-title);
    border-radius: .4rem;
    position: relative;
    transition: all .3s ease-in-out;
}

.app-provider:has(.app-provider_link:focus), .app-provider:has(.app-provider_link:active) {
    outline: .1rem var(--clr-neutral-200) solid;
    outline-offset: .2rem;
}

.app-provider img {
    height: fit-content;
}

.app-provider_link {
    line-height: 1.6rem;
    display: flex;
    flex-direction: column;
}

.app-provider_link::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
}

.app-provider_link span:first-child {
    font-size: .8rem;
}

.footer {
    background-color: var(--clr-neutral-900);
    padding-inline: 12.8rem;
    padding-block: 6.4rem 8.8rem;
    font-family: var(--ff-title);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo svg path {
    fill: var(--clr-neutral-200);
}

.footer-nav_list {
    padding-block-end: 8.8rem;
    padding-block-start: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    color: var(--clr-neutral-600);
}

.social-nav_list {
    display: flex;
    gap: 2.4rem;
    align-items: center;
}

.social-nav_link {
    display: flex;
    align-items: center;
}

.social-nav_link svg path {
    fill: var(--clr-primary-400);
    transition: all .3s ease-in-out;
}

.social-nav_link:hover svg path, .social-nav_link:focus svg path, .social-nav_link:active svg path {
    fill: var(--clr-neutral-200);
}

.footer-logo svg path {
    transition: all .3s ease-in-out;
}

.footer-logo:hover svg path, .footer-logo:focus svg path, .footer-logo:active svg path {
    fill: var(--clr-primary-400);
}

/*** Tablet ***/

@media only screen and (min-width: 48em) {
    .footer {
        flex-direction: row;
        padding-block: 3.2rem;
        padding-inline: clamp(4rem, 24.4141vw + -14.75rem, 16.5rem);
        gap: 5.6rem;
    }
    .footer-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .footer-nav_list {
        flex-direction: row;
        padding: 0;
        gap: 3.2rem;
    }
}

/*** Desktop ***/

@media only screen and (min-width: 80em) {
    .sign-up {
        flex-direction: row;
        justify-content: space-between;
    }
    .sign-up h3 {
        max-width: 44rem;
        text-align: start;
    }
    .app-provider-container {
        align-items: center;
    }
}

/* Specific styles */

/** Home **/

.home-hero {
    background-image: url(../assets/img/home-hero.png);
    background-position: 95%;
    gap: 3.2rem;    
    min-height: 65rem;
    height: 95vh;
}

.home-hero .hero-overlay {
    min-height: 65rem;
    height: 95vh;
}

.hero-cta-container {
    color: var(--clr-neutral-200);
    padding-inline: var(--spacing-x);
    padding-block-start: 5.6rem;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 20;
}

.hero-cta-container h1 {
    font-size: var(--h1-fs);
    line-height: var(--h1-lh);
    letter-spacing: var(--h1-spacing);
    padding-block-end: 2.4rem;
}

.home-hero .btn {
    position: relative;
    z-index: 15;
    width: fit-content;
    margin-block: 3.2rem .8rem;
}

.smaller-arrow {
    width: clamp(36.4rem, 150.9091vw + -11.8909rem, 44.7rem);
    max-width: fit-content;
    height: clamp(11.2rem, 47.2727vw + -3.9273rem, 13.8rem);
}

.home-hero .smaller-arrow {
    position: absolute;
    bottom: 4%;
    left: -28rem;
    z-index: 30;
}

.hero-line, .hero-circles {
    display: none;
}

.guide, .features {
    padding-block-end: var(--spacing-y-secondary);
}

.guide {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    padding-block-start: var(--spacing-y-secondary);
}

.guide-line {
    display: none;
}

.guide-card {
    padding-block-start: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    text-align: center;
    position: relative;
    opacity: 0;
    transition: opacity 0.6s ease-out;
}

.guide-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 5.6rem;
    height: 5.6rem;
    background-size: cover;
}

.guide-card:first-of-type::before {
    background-image: url(../assets/img/phone-icon.svg);
}

.guide-card:nth-of-type(2)::before {
    background-image: url(../assets/img/scooter-icon.svg);
}

.guide-card:last-of-type::before {
    background-image: url(../assets/img/scooter-ride-icon.svg);
}

.guide-card h2 {
    color: var(--clr-neutral-800);
}

.features {
    display: flex;
    flex-direction: column;
    gap: 12rem;
    overflow: hidden;
}

.feature-card {
    display: flex;
    flex-direction: column;
    gap: 5.6rem;
    align-items: center;
}

.feature-img {
    width: 25.6rem;
    height: 25.6rem;
    border-radius: 50%;
    background-size: contain;
    background-position: center top;
    position: relative;
}

.feature-img .arrow {
    position: absolute;
    width: 73.5rem;
    height: 13.8rem;
}

.feature-card:first-of-type .feature-img {
    background-image: url(../assets/img/home-img-1.png);
}

.feature-card:first-of-type .feature-img .arrow {
    top: 50%;
}

.feature-card:nth-of-type(2) .feature-img {
    background-image: url(../assets/img/home-img-2.png);
}

.feature-card:nth-of-type(2) .feature-img .arrow {
    left: -200%;
    transform: rotateX(180deg);
    transform: rotateY(180deg);
}

.feature-card:last-of-type .feature-img {
    background-image: url(../assets/img/home-img-3.png);
}

.feature-card:last-of-type .feature-img .arrow {
    right: -200%;
}

.feature-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3.2rem;
}

.feature-content h2 {
    font-size: var(--h2-fs);
    line-height: var(--h2-lh);
    letter-spacing: var(--h2-spacing);
    color: var(--clr-neutral-800);
}

/*** Large mobiles ***/

@media only screen and (min-width: 23.438em) {
    .hero-cta-container {
        padding-block-start: clamp(5.6rem, 20.6107vw + -2.129rem, 13.7rem);
    }
    .hero-cta-container h1 {
        padding-block-end: 3.2rem;
    }
    .home-hero .smaller-arrow {
        left: clamp(-28rem, 45.8015vw + -45.1756rem, -10rem);
    }
}

/*** Tablet ***/

@media only screen and (min-width: 48em) {
    .home-hero {
        overflow: hidden;
        padding-block-start: 9.3rem;
        height: 70vh;
    }
    .home-hero .hero-overlay {
        padding-block-start: 9.3rem;
        height: 70vh;
    }
    .home-hero .hero-circles.displayed {
        display: flex;
        position: absolute;
        right: -4.8rem;
        bottom: 5%;
        z-index: 1;
        width: 23.4rem;
        height: 6.3rem;
    }
    .hero-cta-container {
        text-align: center;
        padding-block-start: 0;
    }
    .hero-cta-container .btn {
        margin-inline: auto ;
    }
    .guide {
        position: relative;
    }
    .guide-line {
        display: flex;
        position: absolute;
        top: 0;
        width: 50rem;
        height: 1.5rem;
        left: calc(var(--spacing-x) + 4.8rem + .75rem);
        transform-origin: top left;
        transform: rotate(90deg);
    }
    .guide-line line {
        opacity: 0;
    }
    .guide-card {
        text-align: start;
        align-items: start;
        padding-inline-start: 17.6rem;
        padding-block-start: 0;
    }
    .guide-card::before {
        width: 9.6rem;
        height: 9.6rem;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .feature-img {
        width: 44.5rem;
        height: 44.5rem;
    }
    .feature-img::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 44.5rem;
        height: 44.5rem;
        right: -115%;
        border-radius: 50%;
        background-color: var(--clr-neutral-400);
    }
    .feature-card:first-of-type .feature-img .arrow {
        top: 67%;
        right: -33vw;
        width: fit-content;
    }
    .feature-card:nth-of-type(2) .feature-img .arrow {
        left: -116%;
    }
    .feature-card:last-of-type .feature-img .arrow {
        right: -116%;
        top: 20%;
    }
    .feature-content {
        gap: 4rem;
    }
}

/*** Desktop ***/

@media only screen and (min-width: 80em) {
    .hero-cta-container {
        align-items: start;
        text-align: start;
    }
    .home-hero .hero-cta-container {
        padding-block-start: 16rem;
    }
    .hero-cta-container p {
        margin-inline-start: clamp(5.6rem, 25vw + -26.4rem, 9.6rem);
        max-width: clamp(40.5rem, 31.25vw + .5rem, 60.5rem);
    }
    .hero-cta-container .btn {
        margin-inline-start: clamp(5.6rem, 25vw + -26.4rem, 9.6rem);
        margin-inline-end: 0;
    }
    .home-hero .smaller-arrow {
        left: 50%;
        bottom: 24%;
    }
    .hero-line {
        display: block;
        position: absolute;
        width: 20.3rem;
        height: 1.5rem;
        z-index: 2;
        bottom: 41%;
    }
    .home-hero .hero-circles.displayed {
        bottom: 25%;
        right: -4.8rem;
    }
    .guide {
        flex-direction: row;
    }
    .guide-line {
        left: 0;
        top: var(--spacing-y-secondary);
        transform: rotate(0);
        width: calc(100% - var(--spacing-x) - clamp(28.5rem, 17.9688vw + 5.5rem, 40rem));
        height: 1.5rem;
    }
    .guide-card::before {
        top: -9.6rem;
    }
    .guide-card {
        padding-inline-start: 0;
        margin-block-start: calc(8.8rem + 1.5rem);
    }
    .guide-card p {
        min-width: 28.5rem;
        max-width: 40rem;
    }
    .feature-card {
        justify-content: space-between;
    }
    .feature-card:nth-child(even) {
        flex-direction: row;
    }
    .feature-card:nth-child(even) .feature-img::after {
        right: 115%;
    }
    .feature-card:nth-child(odd) {
        flex-direction: row-reverse;
    }
    .feature-content {
        text-align: start;
        align-items: start;
        max-width: clamp(40rem, 50vw + -24rem, 48rem);
    }
    .feature-card:first-of-type .feature-img .arrow {
        right: calc(0 - var(--spacing-y));
    }
}

@media only screen and (min-width: 101.625em) {
    .guide-line {
        width: 112rem;
    }
}
@media only screen and (min-width: 110em) {
    .feature-content {
        display: grid;
        max-width: 88rem;
        column-gap: 9.6rem;
    }
    .feature-content h2 {
        grid-column: 1 / 3;
    }
    .feature-content p {
        grid-column: 1 / 2;
    }
    .feature-content .btn {
        grid-column: 2 / 3;
        justify-self: start;
        align-self: end;
    }
}

/** About **/

.about-main .features {
    padding-block-start: var(--spacing-y-secondary);
}

.about-main .values, .about-main .faq {
    padding-block-end: var(--spacing-y-secondary);
}

.about-main .feature-card:first-child .feature-img {
    background-image: url(../assets/img/about-img-1.png);
}

.about-main .feature-card:first-child .feature-img svg {
    transform: rotateX(180deg);
    top: 40%;
}

.about-main .feature-card:nth-child(2) .feature-img {
    background-image: url(../assets/img/about-img-2.png);
}
.values h2, .values h3 {
    color: var(--clr-neutral-800);
}

.values h2 {
    font-size: var(--h2-fs);
    line-height: var(--h2-lh);
    letter-spacing: var(--h2-spacing);
    padding-block-end: 6.4rem;
    text-align: center;
}

.values h3 {
    font-size: var(--h3-fs);
    line-height: var(--h3-lh);
    letter-spacing: var(--h3-spacing);
}

.values-container {
    display: flex;
    flex-direction: column;
    gap: 5.6rem;
    text-align: center;
}

.value-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.4rem;
}

.value-img {
    width: 24rem;
    height: 24rem;
    border-radius: 50%;
    position: relative;
}

.value-img::after {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--clr-primary-400);
    width: 9.6rem;
    height: 9.6rem;
    border-radius: 50%;
    font-size: var(--h3-fs);
    line-height: var(--h3-lh);
    letter-spacing: var(--h3-spacing);
    font-family: var(--ff-title);
    color: var(--clr-neutral-800);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.value-card:first-child .value-img::after {
    content: '01'
}

.value-card:first-child .value-img {
    background-image: url(../assets/img/about-value-img-1.png);
}

.value-card:nth-child(2) .value-img::after {
    content: '02'
}

.value-card:nth-child(2) .value-img {
    background-image: url(../assets/img/about-value-img-2.png);
}

.value-card:last-child .value-img::after {
    content: '03';
}

.value-card:last-child .value-img {
    background-image: url(../assets/img/about-value-img-3.png);
}

.value-content {
    display: grid;
    gap: 2.4rem;
}

.faq h2, .faq h3, .faq h4 {
    color: var(--clr-neutral-800);
}

.faq h2 {
    font-size: var(--h2-fs);
    line-height: var(--h2-lh);
    letter-spacing: var(--h2-spacing);
    text-align: center;
}

.faq h3 {
    font-size: var(--h3-fs);
    line-height: var(--h3-lh);
    letter-spacing: var(--h3-spacing);
    text-align: center;
}

.faq h4 {
    font-size: var(--h4-fs);
    line-height: var(--h4-lh);
    letter-spacing: var(--h4-spacing);
}

.faq {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
}

.faq > div {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.faq-content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.faq-content article {
    padding-inline: 3.2rem;
    background-color: var(--clr-neutral-400);
    color: var(--clr-neutral-800);
    padding-block-start: 3.2rem;
    transition: all .3s ease-in-out;
}

.faq-content button {
    width: 100%;
    padding-inline-end: 2.4rem;
    font-family: var(--ff-title);
    font-size: var(--h4-fs);
    line-height: var(--h4-lh);
    letter-spacing: var(--h4-spacing);
    border: none;
    background-color: transparent;
    text-align: start;
    color: var(--clr-neutral-800);
    position: relative;
    margin-block-end: 3.2rem;
}

.faq-content button::before {
    content: '';
    position: absolute;
    inset: -3.2rem;
}

.faq-content button::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-image: url(../assets/img/faq-arrow.svg);
    background-size: cover;
    width: 1.6rem;
    height: 1rem;
    transition: transform .5s ease-in-out;
}

.faq-content button[aria-expanded="true"]::after {
    transform-origin: center center;
    transform: rotate(180deg);
}

.faq-desc {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-in-out, margin-bottom .5s ease-in-out;
    margin-block-end: 3.2rem;
}

/*** Tablet ***/

/*** Desktop ***/

@media only screen and (min-width: 80em) {
    .about-main .feature-card:first-of-type .feature-img .arrow {
        top: 60%;
        right: -13vw;
    }
    .about-main .feature-card:nth-of-type(2) .feature-img .arrow {
        left: -116%;
        top: 0;
    }
    .values {
        display: grid;
        gap: 10.4rem;
    }
    .values h2 {
        text-align: center;
        padding-block-end: 0;
    }
    .values-container {
        flex-direction: row;
    }
    .faq > div {
        flex-direction: row;
        gap: clamp(8rem, 16.6667vw + -16rem, 16rem);
    }
    .faq h3 {
        text-align: start;
        min-width: 35rem;
    }
    .faq-content {
        width: 100%;
    }
}

/** Careers **/

.careers-main .features {
    margin-block-start: var(--spacing-y-secondary);
}

.job-applications {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-block: var(--spacing-y-secondary);
}

.job-application-card {
    background-color: var(--clr-neutral-400);
    color: var(--clr-neutral-800);
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 3.2rem;
    justify-content: center;
    align-items: center;
}

.job-application-card .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.job-description {
    text-align: center;
}

.job-description p:first-child {
    font-size: var(--h4-fs);
    line-height: var(--h4-lh);
    letter-spacing: var(--h4-spacing);
    font-family: var(--ff-title);
}

.careers-main .feature-card:first-child .feature-img {
    background-image: url(../assets/img/careers-img-1.png);
}

/*** Tablet ***/

@media only screen and (min-width: 48em) {
    .careers-main .feature-card:first-child .feature-img svg {
        top: 60%;
        right:-33vw;
    }
    .job-application-card {
        flex-direction: row;
        justify-content: space-between;
    }
    .job-description {
        text-align: start;
        display: grid;
        gap: .8rem;
    }
}

/*** Desktop ***/

@media only screen and (min-width: 80em) {
    .careers-main .feature-card:first-child .feature-img svg {
        right:-13vw;
    }
}

@media only screen and (min-width: 90em) {
    .job-applications {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/** Locations **/

.map-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-block: var(--spacing-y-secondary);
    padding-inline: var(--spacing-x);
}

.map {
    background-image: url(../assets/img/locations-map.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 111rem;
    min-height: clamp(13rem, 38.5714vw + .6571rem, 56.2rem);
    position: relative;
}

.locations_list {
    font-family: var(--ff-title);
    font-size: var(--h4-fs);
    line-height: var(--h4-lh);
    letter-spacing: var(--h4-spacing);
    color: var(--clr-neutral-800);
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 100%;
}

.locations_item {
    background-color: var(--clr-primary-200);
}

.location-marker {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-block: 2.4rem;
}

.location-tag {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background-color: var(--clr-primary-400);
    position: absolute;
    transform-origin: center bottom;
}

.larger-devices-visible {
    display: none;
}

.location-tag[data-location="new-york"] {
    top: clamp(3.6rem, 16.5179vw + -1.6857rem, 11rem);
    left: clamp(6.4rem, 18.75vw + .4rem, 14.8rem);
}

.location-tag[data-location="london"] {
    top: clamp(3.2rem, 11.1607vw + -.3714rem, 8.2rem);
    left: clamp(11rem, 35.7143vw + -.4286rem, 27rem);
}

.location-tag[data-location="yokohama"] {
    top: clamp(4.4rem, 15.625vw + -.6rem, 11.4rem);
    left: clamp(21rem, 64.7321vw + .2857rem, 50rem);
}

.location-tag[data-location="jakarta"] {
    top: clamp(8rem, 24.5536vw + .1429rem, 19rem);
    left: clamp(19rem, 58.0357vw + .4286rem, 45rem);
}

.map-cta {
    margin-block-end: var(--spacing-y-secondary);
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    align-items: start;
}

.map-cta h2 {
    color: var(--clr-neutral-800);
    font-size: var(--h2-fs);
    line-height: var(--h2-lh);
    letter-spacing: var(--h2-spacing);
}

/*** Tablet ***/

@media only screen and (min-width: 48em) {
    .larger-devices-visible {
        display: flex;
    }
    .locations_list {
        display: none;
    }
    .location-tag {
        font-size: 1.3rem;
        line-height: var(--h3-lh);
        width: fit-content;
        padding-block: .2rem;
        padding-inline: 3.2rem;
        border-radius: 0;
        height: fit-content;
        text-decoration: none;
        color: var(--clr-neutral-800);
        font-family: var(--ff-title);
        transition: all .6s ease-in-out;
    }
    .location-tag::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: 1.6rem var(--clr-primary-400) solid;
        border-left: 1.6rem transparent solid;
        border-right: 1.6rem transparent solid;
        bottom: -1.5rem;
        left: 50%;
        transform: translateX(-50%);
        transition: all .6s ease-in-out;
    }
    .location-tag:focus {
        background-color: var(--clr-primary-200);
        color: var(--clr-primary-400);
    }
    .location-tag:focus::after {
        border-top-color: var(--clr-primary-200);
    }
    .location-tag[data-location="new-york"] {
        top: clamp(6rem, 14.881vw + -5.4286rem, 16rem);
        left: clamp(9rem, 19.3452vw + -5.8571rem, 22rem);
    }

    .location-tag[data-location="london"] {
        top: clamp(3.4rem, 10.4167vw + -4.6rem, 10.4rem);
        left: clamp(22rem, 35.7143vw + -5.4286rem, 46rem);
    }

    .location-tag[data-location="yokohama"] {
        top: clamp(6.8rem, 14.881vw + -4.6286rem, 16.8rem);
        left: clamp(44.5rem, 65.4762vw + -5.7857rem, 88.5rem);
    }

    .location-tag[data-location="jakarta"] {
        top: clamp(14.5rem, 25.2976vw + -4.9286rem, 31.5rem);
        left: clamp(40rem, 58.0357vw + -4.5714rem, 79rem);
    }
}

/*** Desktop ***/

@media only screen and (min-width: 80em) {
    .map-cta {
        display: grid;
        column-gap: 8rem;
        grid-template-columns: 1fr 1fr;
    }
    .map-cta p {
        grid-column: 1 / 2;
        max-width: 72rem;
    }
    .map-cta a {
        grid-column: 2 / 3;
        justify-self: start;
        align-self: end;
    }
}

/* Animation styles */

.feature-card .feature-img {
    transition: all .6s ease-in-out;
    opacity: 0;
}

.feature-img[data-visible="true"] {
    opacity: 1;
    transition: all 1.4s ease-in-out;
    transform: translateX(0);
}

.feature-card:nth-child(odd) .feature-img[data-visible="false"] {
    transform: translateX(110%);
;}

.feature-card:nth-child(even) .feature-img[data-visible="false"] {
    transform: translateX(-110%);
;}

@media only screen and (min-width: 48em) {
    .feature-card:nth-child(odd) .feature-img[data-visible="false"] {
        transform: translateX(125%);
    ;}
    
    .feature-card:nth-child(even) .feature-img[data-visible="false"] {
        transform: translateX(-125%);
    ;}
}

.hero-circles circle:last-child {
    fill: transparent;
    transition: fill .6s ease-in-out;
}

.hero-circles.circle-fill circle:last-child {
    fill: var(--clr-neutral-200);
}